---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- set staticPages = ["/", "/about/", "/articles/"] %}
  {%- for p in staticPages %}
  <url>
    <loc>{{ site.url }}{{ p }}</loc>
    <changefreq>monthly</changefreq>
  </url>
  {%- endfor %}
  {%- for article in collections.articles %}
  <url>
    <loc>{{ site.url }}{{ article.url }}</loc>
    <lastmod>{{ article.date | isoDate }}</lastmod>
    <changefreq>yearly</changefreq>
  </url>
  {%- endfor %}
  {%- for tag in collections.tagList %}
  <url>
    <loc>{{ site.url }}/tags/{{ tag }}/</loc>
    <changefreq>monthly</changefreq>
  </url>
  {%- endfor %}
</urlset>
